# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
*.xcuserstate

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

/Ejercicios06NonLinearStructures/*.pdf
/HW5_BinaryTrees/*.pdf
/HW6_STL/*.pdf
/Tarea01Recursividad/*.pdf
Intro.pdf